body{
    background-color: hsl(212, 45%, 89%);
   
   
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
    margin: 0;
}




.qrcode{
    width: 230px;
    margin-top: 30px;
    border-radius: 15px;
}

.maintext{
    font-size: 18px;
    font-weight: 900;

    width: 280px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.second{
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 270px;
    text-align: center;
    color:  hsl(216, 15%, 48%);
    margin-top: 0%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 280px;
    height: 430px;
    border-radius: 30px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
      
}
